***REMOVED*** Ingress rule for Databricks services
- ingressFrom:
    identityType: ANY_IDENTITY
    ***REMOVED*** Uncomment and use the following options as needed:
    ***REMOVED*** identities:
    ***REMOVED***   - group:group_email
    ***REMOVED***   - user:user_email
    ***REMOVED***   - serviceAccount:serviceAccount_email
    ***REMOVED***   - group:databricks-vpc-sc-ingress-group@databricks.com
    sources:
      ***REMOVED*** Databricks central project - only required at workspace creation (us-central1)
      - resource: projects/68422481410
      ***REMOVED*** Databricks regional control plane project (us-east4)
      - resource: projects/121886670913
      ***REMOVED*** Databricks regional unity catalog project (us-east4)
      - resource: projects/683414710976 
  ingressTo:
    operations:
      ***REMOVED*** Google Cloud Storage operations
      - methodSelectors:
          - method: google.storage.objects.create
          - method: google.storage.objects.get
          - method: google.storage.objects.list
          - method: google.storage.objects.delete
          - method: google.storage.buckets.testIamPermissions
          ***REMOVED*** The following permissions are required for DBFS storage creation
          ***REMOVED*** Remove these permissions after workspace is created
          - method: 'google.storage.buckets.create'
          - method: 'google.storage.buckets.testIamPermissions'
          - method: 'google.storage.buckets.get'
        serviceName: storage.googleapis.com
      ***REMOVED*** Compute Engine operations
      - methodSelectors:
          - method: RegionsService.Get
          - method: 'NetworksService.Get'
          - method: 'ProjectsService.Get'
          - method: 'RegionsService.Get'
          - method: 'SubnetworksService.Get'
          - method: 'ZonesService.Get'
          - method: 'RegionForwardingRulesService.Get'
          - method: 'SubnetworksService.GetPolicy'
        serviceName: compute.googleapis.com
      ***REMOVED*** Google Kubernetes Engine operations
      - methodSelectors:
          - method: '*'
        serviceName: container.googleapis.com
      ***REMOVED*** Container API operations (all methods, as method-level filtering is not supported)
      - methodSelectors:
          - method: '*'
        serviceName: container.googleapis.com
      ***REMOVED*** Cloud Logging operations
      - methodSelectors:
          - method: '*'
        serviceName: logging.googleapis.com
      ***REMOVED*** Cloud Resource Manager operations
      - methodSelectors:
          - method: '*' 
        serviceName: cloudresourcemanager.googleapis.com
      ***REMOVED*** IAM operations
      - methodSelectors:
          - method: 'IAM.CreateRole'
          - method: 'IAM.DeleteRole'
          - method: 'IAM.GetIamPolicy'
          - method: 'IAM.GetRole'
          - method: 'IAM.SetIamPolicy'
          - method: 'IAM.UpdateRole'
        serviceName: iam.googleapis.com
    resources:
      - projects/488622148875
      - projects/546577047680

***REMOVED*** Ingress rule for specific user access
- ingressFrom:
    identities:
      ***REMOVED*** Allow a specific user to access services
      ***REMOVED*** This helps with debugging or using GCP console or CLI
      - user:user@example.com
    sources:
      - accessLevel: '*'
  ingressTo:
    operations:
      - serviceName: '*'
    resources:
      - projects/546577047680
      - projects/488622148875

***REMOVED*** Ingress rule for audit logging delivery (optional)
- ingressFrom:
    identities:
      - group:databricks-vpc-sc-ingress-group@databricks.com
    sources:
      ***REMOVED*** Only required if you use audit logging delivery
      ***REMOVED*** See: https://docs.gcp.databricks.com/en/admin/account-settings/audit-log-delivery.html
      - resource: projects/85638097580
  ingressTo:
    operations:
      ***REMOVED*** Google Cloud Storage operations for audit log delivery
      - methodSelectors:
          - method: google.storage.objects.create
          - method: google.storage.objects.delete
          - method: google.storage.objects.get
          - method: google.storage.objects.list
          - method: google.storage.buckets.testIamPermissions
        serviceName: storage.googleapis.com
    resources:
      - projects/546577047680
      - projects/488622148875