***REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED***
***REMOVED*** DATABRICKS GCP VPC SERVICE CONTROLS - INGRESS POLICIES
***REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED***
***REMOVED*** This file defines ingress policies for Databricks workspaces within VPC-SC.
***REMOVED***
***REMOVED*** DOCUMENTATION REFERENCES:
***REMOVED*** - VPC Service Controls Overview: https://docs.gcp.databricks.com/en/security/network/vpc-sc.html
***REMOVED*** - Private Service Connect (PSC): https://docs.databricks.com/gcp/en/security/network/classic/private-service-connect
***REMOVED*** - Regional Resources & Project Numbers: https://docs.databricks.com/gcp/en/resources/ip-domain-region***REMOVED***private-service-connect-psc-attachment-uris-and-project-numbers
***REMOVED*** - Ingress/Egress Rules: https://cloud.google.com/vpc-service-controls/docs/ingress-egress-rules
***REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED***
***REMOVED*** workspace operations
- ingressFrom:
    identities:
     ***REMOVED***- group:group@corp.com
     ***REMOVED***- user:user@corp.com
      - serviceAccount:db-[WORKSPACEID]@prod-gcp-[GEO]-[REGION].iam.gserviceaccount.com
    sources:
    ***REMOVED*** https://docs.databricks.com/gcp/en/resources/ip-domain-region***REMOVED***private-service-connect-psc-attachment-uris-and-project-numbers
    ***REMOVED*** Find your regional control plane VPC host project ***REMOVED***
    ***REMOVED*** Databricks regional control plane project
      - resource: projects/[CONTROL-PLANE-PROJECT-NUMBER]
  ingressTo:
    operations:
    - methodSelectors:
      - method: NetworksService.Get
      - method: ProjectsService.Get
      - method: FirewallsService.Get
      - method: SubnetworksService.Get
      - method: SubnetworksService.SetPolicy
      - method: SubnetworksService.GetPolicy
      - method: InstancesService.List
      - method: InstancesService.Get
      - method: InstancesService.BulkInsert
      - method: InstancesService.Delete
      - method: InstancesService.SetLabels
      - method: DisksService.List
      - method: DisksService.Get
      - method: DisksService.SetLabels
      - method: ZonesService.List
      - method: RegionsService.List
      - method: RegionsService.Get
      - method: GlobalOperationsService.Get
      - method: RegionOperationsService.List
      - method: ZoneOperationsService.List
      - method: ZoneOperationsService.Get
      serviceName: compute.googleapis.com
    - methodSelectors:
      ***REMOVED*** At the time of writing this, vpc sc didnt allow to filter calls by method
      ***REMOVED*** This is the only call we need google.api.serviceusage.v1.ServiceUsage.ListServices
      - method: '*'
      serviceName: serviceusage.googleapis.com
    - methodSelectors:
      ***REMOVED*** This is required to attach databricks-compute GSA to the databricks clusters (classic compute)
      ***REMOVED*** This is also required if you are using workload identity feature as explained here:
      ***REMOVED*** https://docs.databricks.com/gcp/en/compute/configure***REMOVED***google-service-account
      - method: Projects.SetIamPolicy
      serviceName: cloudresourcemanager.googleapis.com
    - methodSelectors:
      - method: IAM.GetIamPolicy
      - method: IAM.GetServiceAccount
      serviceName: iam.googleapis.com
    resources:
    - projects/546577047680 ***REMOVED*** workspace service project number
    - projects/610371902002 ***REMOVED*** workspace host or vpc project number
***REMOVED*** storage operations
***REMOVED*** Calls could originate from several databricks regional projects:
***REMOVED*** control plane (prod-* projects) - identity: db-workspaceId*
***REMOVED*** unity catalog (uc-* projects) - identity: uc-*
***REMOVED*** serverless compute plane (nw-* projects) - identity: db-workspaceId* or uc-*
***REMOVED*** Find project numbers here:https://docs.databricks.com/gcp/en/resources/ip-domain-region***REMOVED***private-service-connect-psc-attachment-uris-and-project-numbers
***REMOVED*** UC identities here: https://docs.databricks.com/gcp/en/sql/language-manual/sql-ref-syntax-aux-describe-credential
***REMOVED*** Its a GCP Service Account
- ingressFrom:
    identities:
    - serviceAccount:db-[WORKSPACEID]@prod-gcp-[GEO]-[REGION].iam.gserviceaccount.com
    ***REMOVED*** Based on your setup you may have multiple uc credentials GSA 
    - serviceAccount:db-uc-credential-06akrlmcak-xn@uc-useast1.iam.gserviceaccount.com
    sources:
    - resource: projects/121886670913 ***REMOVED*** Databricks regional control plane project number
    - resource: projects/522339604799 ***REMOVED*** Unity Catalog regional control plane project number
    - resource: projects/748623325325 ***REMOVED*** Serverless compute regional project number
  ingressTo:
    operations:
    - methodSelectors:
      - method: google.storage.objects.get
      - method: google.storage.objects.list
      - method: google.storage.objects.create
      - method: google.storage.objects.delete
      - method: google.storage.buckets.get
      - method: google.storage.buckets.testIamPermissions
      serviceName: storage.googleapis.com
    resources:
    - projects/610371902002 ***REMOVED*** user project where storage account is created, typically its the orkspace service project number
***REMOVED*** lakehouse federation to bigquery (sample rule)
- ingressFrom:
    identities:
    - serviceAccount:[YOUR-GSA-HAVING-BQ-ACCESS]@[PROJECT].iam.gserviceaccount.com
    sources:
    - resource: projects/748623325325 ***REMOVED*** serverless compute regional project number
  ingressTo:
    operations:
    - methodSelectors:
    ***REMOVED*** make sure to add your required methods here, below is a sample rule
          - method: 'BigQueryRead.CreateReadSession'
          - method: 'bigquery.tables.get'
          - method: 'bigquery.tables.getData'
          - method: 'bigquery.tables.list'
          - method: 'bigquery.tables.create'
          - method: 'bigquery.tables.update'
          - method: 'bigquery.tables.delete'
          - method: 'bigquery.tables.updateData'
          - method: 'bigquery.datasets.get'
          - method: 'bigquery.datasets.create'
          - method: 'bigquery.jobs.create'    
      serviceName: bigquery.googleapis.com
    resources:
    - projects/610371902002 ***REMOVED*** workspace service project number
***REMOVED*** audit log delivery
***REMOVED*** Optional: Only required if you use audit logging delivery
***REMOVED*** https://docs.gcp.databricks.com/en/admin/account-settings/audit-log-delivery.html
- ingressFrom:
    identities:
    - serviceAccount:log-delivery@databricks-prod-master.iam.gserviceaccount.com ***REMOVED*** log delivery service account
    sources:
    - resource: projects/68422481410 ***REMOVED*** Databricks audit log delivery project1
    - resource: projects/85638097580 ***REMOVED*** Databricks audit log delivery project2
  ingressTo:
    operations:
    - methodSelectors:
      - method: google.storage.objects.create
      - method: google.storage.objects.delete
      - method: google.storage.objects.get
      - method: google.storage.objects.list
      - method: google.storage.buckets.testIamPermissions
      serviceName: storage.googleapis.com
    resources:
    - projects/546577047680 ***REMOVED*** workspace service project number
***REMOVED*** CMEK operations
***REMOVED*** Optional: Only required if you use CMEK
***REMOVED*** https://docs.databricks.com/gcp/en/security/keys/customer-managed-keys
- ingressFrom:
    identities:
    - serviceAccount:db-[WORKSPACEID]@prod-gcp-[GEO]-[REGION].iam.gserviceaccount.com
    sources:
    - resource: projects/121886670913 ***REMOVED*** Databricks regional control plane project number    
  ingressTo:
    operations:
    - methodSelectors:
      - method: '*' ***REMOVED*** vpc sc does not support method selectors, so we are allowing all methods
      serviceName: cloudkms.googleapis.com
    resources:
    - projects/610371902002 ***REMOVED*** workspace service project number
