***REMOVED*** Make sure to update it as per your region and identities before using it
***REMOVED*** Ingress rule for Databricks services
- ingressFrom:
    identities:
    ***REMOVED***   - group:group@corp.com
    ***REMOVED***   - user:user@corp.com
      - serviceAccount:db-2762908299814651@prod-gcp-us-east1.iam.gserviceaccount.com
    sources:
    ***REMOVED*** https://docs.databricks.com/gcp/en/resources/ip-domain-region***REMOVED***private-service-connect-psc-attachment-uris-and-project-numbers
    ***REMOVED*** Find your regional control plane VPC host project ***REMOVED***
    ***REMOVED*** Databricks regional control plane project (us-east1)
      - resource: projects/51066298900
  ingressTo:
    operations:
      ***REMOVED*** Compute Engine operations
      - methodSelectors:
          - method: 'NetworksService.Get'
          - method: 'ProjectsService.Get'
          - method: 'FirewallsService.Get'
          - method: 'FirewallsService.Insert'
          - method: 'SubnetworksService.Get'
          - method: 'SubnetworksService.SetPolicy'
          - method: 'SubnetworksService.GetPolicy'
          - method: 'GlobalOperationsService.Get'
          - method: 'ZonesService.List'
          - method: 'DisksService.List'
          - method: 'InstancesService.List'
          - method: 'RegionsService.List'
          - method: 'RegionsService.Get'
          - method: 'ZoneOperationsService.List'
          - method: 'RegionOperationsService.List'
          - method: 'InstancesService.Get'
          - method: 'ZoneOperationsService.Get'
          - method: 'InstancesService.BulkInsert'
          - method: 'InstancesService.Delete'
          - method: 'DisksService.Get'
          - method: 'DisksService.SetLabels'
          - method: 'InstancesService.SetLabels'
        serviceName: compute.googleapis.com
      ***REMOVED*** At the time of writing this, vpc sc didnt allow to filter calls by method
      ***REMOVED*** This is the only call we need google.api.serviceusage.v1.ServiceUsage.ListServices
      - methodSelectors:
          - method: '*'
        serviceName: serviceusage.googleapis.com
      ***REMOVED*** This is required to attach databricks-compute GSA to the databricks clusters
      ***REMOVED*** This is also required if you are using workload identity feature as explained here:
      ***REMOVED*** https://docs.databricks.com/gcp/en/compute/configure***REMOVED***google-service-account
      - methodSelectors:
          - method: 'Projects.SetIamPolicy' 
        serviceName: cloudresourcemanager.googleapis.com
      ***REMOVED*** IAM operations
      - methodSelectors:
          - method: 'IAM.GetIamPolicy'
          - method: 'IAM.GetServiceAccount'
        serviceName: iam.googleapis.com
    resources:
      - projects/1039757121236 ***REMOVED*** customer vpc project
      - projects/488622148875  ***REMOVED*** customer workspace project

***REMOVED*** Calls could originate from several databricks regional projects:
***REMOVED*** control plane (prod-* projects) - identity: db-workspaceId*
***REMOVED*** unity catalog (uc-* projects) - identity: uc-*
***REMOVED*** serverless compute plane (nw-* projects) - identity: db-workspaceId* or uc-*
***REMOVED*** Find project numbers here:https://docs.databricks.com/gcp/en/resources/ip-domain-region***REMOVED***private-service-connect-psc-attachment-uris-and-project-numbers
***REMOVED*** UC identities here: https://docs.databricks.com/gcp/en/sql/language-manual/sql-ref-syntax-aux-describe-credential
***REMOVED*** Its a GCP Service Account
- ingressFrom:
    identities:
    - serviceAccount:db-2762908299814651@prod-gcp-us-east1.iam.gserviceaccount.com
    - serviceAccount:db-uc-credential-06akrlmcak-xn@uc-useast1.iam.gserviceaccount.com
    - serviceAccount:db-uc-credential-06aldrhhj4-qe@uc-useast1.iam.gserviceaccount.com
    sources:
      ***REMOVED*** Databricks regional control plane project
      - resource: projects/51066298900 ***REMOVED***prod-gcp-us-east1
      ***REMOVED*** Databricks regional unity-catalog project
      - resource: projects/234110679923 ***REMOVED***uc-useast1
      ***REMOVED*** Databricks regional serverless-sql project
      - resource: projects/126714886954 ***REMOVED***nw-prod-useast1-01
  ingressTo:
    operations:
***REMOVED*** Google Cloud Storage operations
      - methodSelectors:
          - method: 'google.storage.objects.get'
          - method: 'google.storage.objects.list'
          - method: 'google.storage.objects.create'
          - method: 'google.storage.objects.delete'
          - method: 'google.storage.buckets.get'
          - method: 'google.storage.buckets.testIamPermissions'
        serviceName: storage.googleapis.com
    resources:
      - projects/488622148875 ***REMOVED*** customer workspace project
