# This policy applies during workspace creation for GCE powered databricks workspaces
# Ingress rule for Databricks services
- ingressFrom:
    identities:
    #   - group:group@corp.com
    #   - user:user@corp.com
      - serviceAccount:YOUR_SA@PROJECT.iam.gserviceaccount.com
    sources:
    # https://docs.databricks.com/gcp/en/resources/ip-domain-region#private-service-connect-psc-attachment-uris-and-project-numbers
    # Find your regional control plane VPC host project #
    # Do not change the Central Project number listed below, its a must have requirement
      # Databricks Central project - only required at workspace creation
      - resource: projects/68422481410
      # Databricks regional control plane project (us-east1)
      - resource: projects/51066298900
  ingressTo:
    operations:
      # Compute Engine operations
      - methodSelectors:
          - method: 'NetworksService.Get'
          - method: 'ProjectsService.Get'
          - method: 'FirewallsService.Get'
          - method: 'FirewallsService.Insert'
          - method: 'SubnetworksService.Get'
          - method: 'SubnetworksService.SetPolicy'
          - method: 'SubnetworksService.GetPolicy'
          - method: 'GlobalOperationsService.Get'
        serviceName: compute.googleapis.com
      # There seems to be no way to specify method calls so we will be allowing all of the method calls
      # This is the only call we need google.api.serviceusage.v1.ServiceUsage.ListServices
      - methodSelectors:
          - method: '*'
        serviceName: serviceusage.googleapis.com
      - methodSelectors:
          - method: 'Projects.SetIamPolicy' 
        serviceName: cloudresourcemanager.googleapis.com
      # IAM operations
      - methodSelectors:
          - method: 'IAM.GetRole'
          - method: 'IAM.CreateRole'
          - method: 'IAM.GetIamPolicy'
          - method: 'IAM.GetServiceAccount'
          - method: 'IAM.SetIamPolicy'
        serviceName: iam.googleapis.com
    resources:
      - projects/NUMBER # vpc project
      - projects/NUMBER  # workspace project

# We have to use ANY_IDENTIY because the buckets.create call is made by the
# Workspace SA which is created dyamically at the time of workspace creation
# There is no way to know the name before hand
# After the workspace is created you could remove this call or 
# For ref please check ingress.yaml
- ingressFrom:
    identityType: ANY_IDENTITY
    sources:
      # Databricks central project - only required at workspace creation (us-central1)
      - resource: projects/68422481410
  ingressTo:
    operations:
# Google Cloud Storage operations
      - methodSelectors:
          # The following permissions are required for DBFS storage creation
          # Remove this permission after workspace is created
          - method: 'google.storage.buckets.create'
        serviceName: storage.googleapis.com
    resources:
      - projects/NUMBER # workspace project
