- ingressFrom:
    identities:
    ***REMOVED*** GCP identity used to create the workspace
    ***REMOVED*** could be a user principal or a service account
    - user:bhavin.kukadia@databricks.com
    ***REMOVED*** - serviceAccount:872269723794-compute@developer.gserviceaccount.com
    sources:
      - accessLevel: '*'
  ingressTo:
    operations:
    - methodSelectors:
      - method: '*'
      serviceName: container.googleapis.com
    - methodSelectors:
      - method: 'NetworksService.Get'
      - method: 'ProjectsService.Get'
      - method: 'SubnetworksService.Get'
      - method: 'ZonesService.List'
      - method: 'RegionsService.Get'
      serviceName: compute.googleapis.com
    - methodSelectors:
      - method: '*'
      serviceName: logging.googleapis.com
    - methodSelectors:
    ***REMOVED*** cloudresourcemanager api does not support method level filtering 
      - method: '*'
      serviceName: cloudresourcemanager.googleapis.com
    - methodSelectors:
    ***REMOVED*** iam api does not support method level filtering
      - method: '*'
      serviceName: iam.googleapis.com
    resources:
    ***REMOVED*** projects on which you would like to enforce this ingress policy
    ***REMOVED*** multiple entries could be added with addiotnal - projects/project_number entries
    ***REMOVED*** if you are using shared-vpc then we'll need project_number for host-project (shared-vpc) as well as the service project (databricks workspace)
    ***REMOVED*** host project provides the vpc and servcie project is where Databricks creates GKE cluster and Databricks related GCS storage accounts
    - projects/872269723794
- ingressFrom:
    identityType: ANY_SERVICE_ACCOUNT
    sources:
      - accessLevel: '*'
  ingressTo:
    operations:
    - methodSelectors:
    ***REMOVED*** required to create DBFS related buckets
      - method: 'google.storage.buckets.create'
      - method: 'google.storage.buckets.testIamPermissions'
      serviceName: storage.googleapis.com
    ***REMOVED*** required to create the default k8s cluster used by databricks
    - methodSelectors:
    ***REMOVED*** container api does not support method level filtering
      - method: '*'
      serviceName: container.googleapis.com
    ***REMOVED*** block start
    ***REMOVED*** only required for databricks managed vpc based deployments
    ***REMOVED*** in this case databricks creates and manages vpc and hence we need these permissions
    ***REMOVED*** for bring your own vpc we do not need these permissions cause the vpc is pre-created by end user
    - methodSelectors:
      - method: 'NetworksService.Insert'
      - method: 'RegionOperationsService.Get'
      - method: 'GlobalOperationsService.Get'
      - method: 'RegionRoutersService.Insert'
      - method: 'SubnetworksService.Insert'
      - method: 'ZonesService.List'
      serviceName: compute.googleapis.com
      ***REMOVED*** block end
    resources:
    ***REMOVED*** projects on which you would like to enforce this ingress policy
    ***REMOVED*** multiple entries could be added with addiotnal - projects/project_number entries
    ***REMOVED*** if you are using shared-vpc then we'll need project_number for host-project (shared-vpc) as well as the service project (databricks workspace)
    ***REMOVED*** host project provides the vpc and servcie project is where Databricks creates GKE cluster and Databricks related GCS storage accounts
    - projects/872269723794